<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationAnywhereTests">
    <test name="Program1Test">
        <classes>
            <class name="testng.Program1"/>
        </classes>
    </test>
    <test name="Program2Test">
        <classes>
            <class name="testng.Program2"/>
        </classes>
    </test>
</suite>
